.checkbox:checked + .main {
    background-color: black;
color:white;
}
checkbox:checked + .main .label .ball {
    transform: translateX(2.5rem);
  }
  
.checkbox {
    display: none;
  }
  .main {
font-size: 45px;
    background-color:white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transition: background 0.3s ease;
  }
    
  .label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: black;
    border-radius: 5rem;
    padding: 0.5rem;
    height: 2.5rem;
    width: 5rem;
    transition: background 0.5s ease;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1;
  }
  
.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image .fab {
    position: absolute;
    font-size: clamp(10rem, 80vw, 80vh);
    transition: opacity 0.3s ease-in-out 0.5s;
  }
  .image .fa-galactic-republic {
    color: #e4e4e4;
    opacity: 0;
  }
  .image .fa-rebel {
    color: #e4e4e4;
    opacity: 1;
  }
  
  .checkbox:checked + .content {
    background-color:  black;
    color: white;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }